.goal-detail {
  display: flex;
  gap: 3.2rem;
  padding: 3.2rem;
  color: #fff;
  border-radius: 8px;
}

.goal-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  max-width: 20%;
}

.goal-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sdg_detail_subtitle {
  font-size: 2.2rem;
  font-weight: 700;
}

.sdg_detail_logo {
  max-width: min(60rem, 100%);
}

@media screen and (max-width: 768px) {
  .goal-detail {
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.6rem;
  }

  .goal-images {
    max-width: 100%;
  }
}
