.goal-detail {
  display: flex;
  gap: 3.2rem;
  padding: 6.4rem;
  color: #fff;
  border-radius: 1.6rem;
  margin-top: 1rem;
}

.goal-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  max-width: 20%;
}

.goal-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sdg_detail_subtitle {
  font-size: 2.2rem;
  font-weight: 700;
}

.sdg_detail_logo {
  max-width: min(60rem, 100%);
}

@media screen and (max-width: 768px) {
  .goal-detail {
    flex-direction: column;
    margin-top: 0;
    gap: 1.6rem;
    padding: 3.6rem;
    text-align: center;
  }

  .goal-images {
    max-width: 100%;
    flex-direction: row;
  }

  .sdg_detail_icon {
    object-fit: contain;
    max-width: min(9.6rem, 100%);
    display: block;
  }

  .sdg_detail_logo {
    max-width: min(9.6rem, 100%);
    display: block;
  }
}
