.footer-container {
  width: 100%;
  padding: 3.2rem;
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

.footer-logo {
  width: 8rem;
}

.footer-text {
  font-size: 1.6rem;
  text-align: center;
}
