.footer-container {
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6.4rem;
  gap: 1.6rem;
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

.footer-logo {
  width: 8rem;
}

.footer-text {
  font-size: 1.6rem;
}
