.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  background-color: #660033;
}

.btn--back {
  background-color: #660033 !important;
  color: #333;
  border: transparent;
}

.btn--back:hover {
  background-color: var(--accent-700-light) !important;
  color: var(--color-text-dark);
}

.btn--home {
  background-color: #660033 !important;
  color: #f5f5f5;
}

.btn--home:hover {
  background-color: #660033 !important;
  color: #f5f5f5;
}

.btn_group {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.6rem;
  display: flex;
  gap: 1.6rem;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 3.2rem;
    padding: 3.2rem;
  }

  .btn_group {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .logo {
    max-width: 30rem;
  }

  .btn_group {
    bottom: 0;
    left: 0;
    justify-content: end;
  }

  .btn_group .btn {
    width: 4.8rem;
  }
}
