@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import euclid-square from public/fonts */
@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-Bold.eot');
  src:
    local('Euclid Square Bold'),
    local('EuclidSquare-Bold'),
    url('fonts/euclid-square/EuclidSquare-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-Bold.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-Bold.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-Regular.eot');
  src:
    local('Euclid Square Regular'),
    local('EuclidSquare-Regular'),
    url('fonts/euclid-square/EuclidSquare-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-Regular.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-Regular.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-SemiBold.eot');
  src:
    local('Euclid Square SemiBold'),
    local('EuclidSquare-SemiBold'),
    url('fonts/euclid-square/EuclidSquare-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-SemiBold.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-SemiBold.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-LightItalic.eot');
  src:
    local('Euclid Square Light Italic'),
    local('EuclidSquare-LightItalic'),
    url('fonts/euclid-square/EuclidSquare-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-LightItalic.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-LightItalic.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-MediumItalic.eot');
  src:
    local('Euclid Square Medium Italic'),
    local('EuclidSquare-MediumItalic'),
    url('fonts/euclid-square/EuclidSquare-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-MediumItalic.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-MediumItalic.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-Medium.eot');
  src:
    local('Euclid Square Medium'),
    local('EuclidSquare-Medium'),
    url('fonts/euclid-square/EuclidSquare-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-Medium.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-Medium.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-Italic.eot');
  src:
    local('Euclid Square Italic'),
    local('EuclidSquare-Italic'),
    url('fonts/euclid-square/EuclidSquare-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-Italic.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-Italic.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-Light.eot');
  src:
    local('Euclid Square Light'),
    local('EuclidSquare-Light'),
    url('fonts/euclid-square/EuclidSquare-Light.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-Light.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-Light.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-SemiBoldItalic.eot');
  src:
    local('Euclid Square SemiBold Italic'),
    local('EuclidSquare-SemiBoldItalic'),
    url('fonts/euclid-square/EuclidSquare-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-SemiBoldItalic.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-SemiBoldItalic.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-SemiBoldItalic.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('fonts/euclid-square/EuclidSquare-BoldItalic.eot');
  src:
    local('Euclid Square Bold Italic'),
    local('EuclidSquare-BoldItalic'),
    url('fonts/euclid-square/EuclidSquare-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/euclid-square/EuclidSquare-BoldItalic.woff2') format('woff2'),
    url('fonts/euclid-square/EuclidSquare-BoldItalic.woff') format('woff'),
    url('fonts/euclid-square/EuclidSquare-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('fonts/source-serif-pro/SourceSerifPro-BoldIt.eot');
  src:
    local('Source Serif Pro Bold Italic'),
    local('SourceSerifPro-BoldIt'),
    url('fonts/source-serif-pro/SourceSerifPro-BoldIt.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/source-serif-pro/SourceSerifPro-BoldIt.woff2') format('woff2'),
    url('fonts/source-serif-pro/SourceSerifPro-BoldIt.woff') format('woff'),
    url('fonts/source-serif-pro/SourceSerifPro-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.eot');
  src:
    local('Source Serif Pro ExtraLight Italic'),
    local('SourceSerifPro-ExtraLightIt'),
    url('fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.woff2')
      format('woff2'),
    url('fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.woff')
      format('woff'),
    url('fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.ttf')
      format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('fonts/source-serif-pro/SourceSerifPro-LightIt.eot');
  src:
    local('Source Serif Pro Light Italic'),
    local('SourceSerifPro-LightIt'),
    url('fonts/source-serif-pro/SourceSerifPro-LightIt.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/source-serif-pro/SourceSerifPro-LightIt.woff2') format('woff2'),
    url('fonts/source-serif-pro/SourceSerifPro-LightIt.woff') format('woff'),
    url('fonts/source-serif-pro/SourceSerifPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('fonts/source-serif-pro/SourceSerifPro-BlackIt.eot');
  src:
    local('Source Serif Pro Black Italic'),
    local('SourceSerifPro-BlackIt'),
    url('fonts/source-serif-pro/SourceSerifPro-BlackIt.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/source-serif-pro/SourceSerifPro-BlackIt.woff2') format('woff2'),
    url('fonts/source-serif-pro/SourceSerifPro-BlackIt.woff') format('woff'),
    url('fonts/source-serif-pro/SourceSerifPro-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('fonts/source-serif-pro/SourceSerifPro-SemiboldIt.eot');
  src:
    local('Source Serif Pro Semibold Italic'),
    local('SourceSerifPro-SemiboldIt'),
    url('fonts/source-serif-pro/SourceSerifPro-SemiboldIt.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/source-serif-pro/SourceSerifPro-SemiboldIt.woff2')
      format('woff2'),
    url('fonts/source-serif-pro/SourceSerifPro-SemiboldIt.woff') format('woff'),
    url('fonts/source-serif-pro/SourceSerifPro-SemiboldIt.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('fonts/source-serif-pro/SourceSerifPro-It.eot');
  src:
    local('Source Serif Pro Italic'),
    local('SourceSerifPro-It'),
    url('fonts/source-serif-pro/SourceSerifPro-It.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/source-serif-pro/SourceSerifPro-It.woff2') format('woff2'),
    url('fonts/source-serif-pro/SourceSerifPro-It.woff') format('woff'),
    url('fonts/source-serif-pro/SourceSerifPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('fonts/source-serif-pro/SourceSerifPro-Regular.eot');
  src:
    local('Source Serif Pro'),
    local('SourceSerifPro-Regular'),
    url('fonts/source-serif-pro/SourceSerifPro-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/source-serif-pro/SourceSerifPro-Regular.woff2') format('woff2'),
    url('fonts/source-serif-pro/SourceSerifPro-Regular.woff') format('woff'),
    url('fonts/source-serif-pro/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  --color-primary: #660033;
  --color-primary-dark: #4c0026;
  --color-primary-light: #80004d;
  --color-secondary: #ffcc00;
  --accent-700: #841037;
  --accent-600: #a02339;
  --accent-500: #ba3937;
  --accent-400: #d25132;
  --accent-300: #e56c29;
  --accent-200: #f5881c;

  --accent-700-light: hsla(338, 15%, 86%, 0.733);
  --accent-600-light: #c04f61;
  --accent-500-light: #d85f5f;
  --accent-400-light: #f07f4f;
  --accent-300-light: #ff9f3f;
  --accent-200-light: #ffbf2f;

  --color-text: #333;
  --color-text-light: #fff;
  --color-text-dark: #000;
  --color-bg: #fff;
  --color-bg-light: #f5f5f5;
  --color-bg-dark: #333;

  --color-border: #ddd;
  --color-border-light: #eee;
  --color-border-dark: #ccc;

  /* colleges-pallets */
  --cics-primary-700: #6ec207;
  --cics-primary-600: #7edc2a;
  --cics-primary-500: #8efc3d;

  --cics-secondary-700: #ffeb00;

  --ceng-primary-700: #ff6600;
  --ceng-primary-600: #ff7f00;
  --ceng-primary-500: #ff9900;

  --cit-primary-700: #fac937;
  --cit-primary-600: #fbdc4a;
  --cit-primary-500: #fce05d;

  --coahs-primary-700: #652483;
  --coahs-primary-600: #7a2b9c;
  --coahs-primary-500: #8f32b5;

  --cass-primary-700: #ff5d99;
  --cass-primary-600: #ff6daa;
  --cass-primary-500: #ff7ebb;

  --cfas-primary-700: #02d8e9;
  --cfas-primary-600: #1ee0f2;
  --cfas-primary-500: #3ae8fc;

  --ccj-primary-700: #800000;
  --ccj-primary-600: #9b0000;
  --ccj-primary-500: #b70000;

  --cens-primary-700: #125c13;
  --cens-primary-600: #1a6f1a;
  --cens-primary-500: #228522;

  --cba-primary-700: #636b2f;
  --cba-primary-600: #7a8b3a;
  --cba-primary-500: #8faf4d;

  --cgov-primary-700: #a70000;
  --cgov-primary-600: #b70000;
  --cgov-primary-500: #c70000;

  --coed-primary-700: #2d80d2;
  --coed-primary-600: #3f9be0;
  --coed-primary-500: #51b6ef;

  --cagri-primary-700: #00b200;
  --cagri-primary-600: #00c700;
  --cagri-primary-500: #00d800;

  --gs-primary-700: #660020;
  --gs-primary-600: #80002a;
  --gs-primary-500: #990033;

  --gs-secondary-700: #ec8305;
  --gs-secondary-600: #f59b0a;
  --gs-secondary-500: #f5c20a;

  font-family: 'Euclid Square', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-text);
  background: var(--color-bg);
  position: relative;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
